<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zadatak.zadatak"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    
   
    <application
        android:name=".ZadatakApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_Zadatak"
            android:label="@string/title_activity_zadatak" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_NewTask"
            android:label="@string/title_activity_new_task" >
        </activity>
        <activity
            android:name=".Activity_ViewTasks"
            android:label="@string/title_activity_view_tasks" >
        </activity>
        <activity
            android:name=".Activity_Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".Activity_TodaysTasks"
            android:label="@string/title_activity_activity__todays_tasks" >
        </activity>
        <activity
            android:name=".Activity_AlertTask"
            android:label="@string/title_activity_activity__alert_task" >
        </activity>
        <activity
            android:name=".Activity_Scheduler"
            android:label="@string/title_activity_scheduler">
        </activity>
        <activity
            android:name=".Activity_TestNotification"
            android:label="@string/title_activity_activity__test_notification" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>